$bg-dark: #222222;
$bg-light: #ffffff;
$bg-light-dark: #f9f9f9;
$bg-semi: #333333;
$bg-colored: #bead8e;
$light-grey: rgba(34, 34, 34, 0.04);
$font-semi: #777777;
$font-dark: #222222;
$font-medium: #686868;
$font-light: #ffffff;
$font-secondary: #f8f8f8;
$btn-primary: #bead8e;
$btn-secondary-font: #111111;
$light: #ffffff;
$colored: #bead8e;
$black: #111111;
