.desktop {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 80px);
  grid-template-rows: repeat(auto-fill, 80px);
  grid-auto-flow: column;
  gap: 1rem;
  padding: 0.5rem;
  text-shadow: -1px 0 rgba(0, 0, 0, 0.6), 0 1px black, 1px 0 black, 0 -1px black;
  & article, article a {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    place-items: center;
    & .githubIcon, .pdfIcon, .notepadIcon, .linkedinIcon, .calculatorIcon{
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 50px;
      height: 50px;
    }
    & .githubIcon {
      background-image: url("../img/icons/githubIcon.png");
    }
    & .pdfIcon {
      background-image: url("../img/icons/pdfIcon.png");
    }
    & .notepadIcon {
      background-image: url("../img/icons/notepadIcon.png");
    }
    & .linkedinIcon {
      background-image: url("../img/icons/linkedinIcon.png");
    }
    & .calculatorIcon {
      background-image: url("../img/icons/calcIcon.png");
      width: 36px;
      height: 50px;
    }
  }
}
