.taskbar {
  background-color: var(--primary-blue);
  display: flex;
  & .start-menu {
    display: flex;
    background-color: green;
    padding: 0.5rem 1rem;
    place-items: center;
    gap: 10px;
    & .xplogo {
      background-image: url(../img/icons/xpIcon.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 100%;
      width: 20px;
    }
  }
  & .items {
    display: flex;
    place-items: center;
    flex-grow: 1;
    height: 100%;
    padding: 0 1rem;
  }
  & .icons {
    display: flex;
    place-items: center;
    background-color: var(--ligth-blue);
    height: 100%;
    padding: 0 1rem;
  }
}
